body{
    background-color: white;
}

header{
    background-color:orange;
    max-height:80px;
    width:auto;
    display:flex;
    justify-content:space-around;
    align-items:center;
}

.logo{
    width:auto;
    height:40px;
}
   
header span{
    color: white;

}

.simboli{
    color:white;
}
    
/*FINE HEADDER*/
/*INIZIO SHOP*/

.block{
    width:1450px;
    height:1500px;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    gap:150px;
    margin:auto;
}

.column{
    width:calc(100%/4);
    margin-top:80px;
    position:relative;
}

img{
    width:500px;
    
}

.sconto{
    background-color: red;
    color: white;
    width:40px;
    text-align:center;
    position:absolute;
    bottom:150px;

}

.sostenibilita{
    background-color: green;
    color: white;
    text-align: center;
    position:absolute;
    bottom:150px;
    left:45px;
    width:100px;
}

#last-sostenibilita{
    background-color: green;
    color: white;
    text-align: center;
    position:absolute;
    bottom:150px;
    width:100px;

}